@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #222;
}
/*--navbar--*/
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(255, 255, 255, 1)!important;
}
.navbar-brand {
  height: 2rem;
}
.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .navlink{
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .navlink.active,
.navbar-dark .navbar-nav .navlink:hover {
  color: #1ebba3;

}

/*---slider---*/
.carousel-item{
  height: 90vh;
}








/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}

h2.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*---products---*/

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.products img{
  max-width: 100%;
  transition: transform 0.5s ease;
}

.products img:hover{
 transform: scale(1.05);

 filter: brightness(40%);

}

.products{
  padding: 0 20px 20px;
  position: relative;
  margin: 10px auto;
  overflow: hidden;
}

.products p{
  position: absolute;
  bottom: 1rem;
  right: 0rem;
  width: 100%;
  font-size: 2vw;
  text-shadow: 1rem;
  color: white;
}


footer{
  background-color: #000000;
  color: white;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

*, *::before, *::after {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}