
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.judul{
		font-size: 2.3em;
	}
	.line{
		margin-top: 2em;
		margin-bottom:  2em;
	}
	.fullheight{
		height:16.1em;
	}
	#map{
		margin-top: 1.6em;
	}
	.icaboutus{
		width: 7em;
		height: 7em;
		padding: 2.4em;
	}
	.rounded-circle{
		width: 7em;
		height: 7em;
	}
	.aboutuscontentheader{
		font-size: 1em;
		padding-top: 2em;
	}
	.welcome{
		font-size: 3em;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.judul{
		font-size: 2.3em;
	}
	.line{
		margin-top: 2em;
		margin-bottom:  2em;
	}
	.fullheight{
		height:16em;
	}
	#map{
		margin-top: 1.6em;
	}
	.icaboutus{
		width: 6em;
		height: 6em;
		padding: 1.9em;
	}
	.rounded-circle{
		width: 6em;
		height: 6em;
	}
	.aboutuscontentheader{
		font-size: 1em;
		padding-top:1.5em;
	}
	.welcome{
		font-size: 2.5em;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.judul{
		font-size: 2.3em;
	}
	.line{
		margin-top: 2em;
		margin-bottom:  2em;
	}
	.fullheight{
		height:11em;
	}
	.icaboutus{
		width: 6em;
		height: 6em;
		padding: 1.9em;
	}
	.rounded-circle{
		width: 6em;
		height: 6em;
	}
	.aboutuscontentheader{
		font-size: 1em;
		padding-top:1.2em;
	}	
	.welcome{
		font-size: 2.5em;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.judul{
		font-size: 2em;
	}
	.line{
		margin-top: 1.5em;
		margin-bottom:  1.5em;
	}
	.fullheight{
		height:15em;
		padding-bottom: 15px;
	}
	#map{
		margin-top: 1em;
	}
	.icon{
		float:right;
	}
	.icaboutus{
		width: 6em;
		height: 6em;
		padding: 1.9em;
	}
	.rounded-circle{
		width: 6em;
		height: 6em;
	}
	.aboutuscontentheader{
		font-size: 0.9em;
		padding-top:1em;
	}	
	.welcome{
		font-size: 1.8em;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.judul{
		font-size: 1.9em;
	}
	.line{
		margin-top: 1em;
		margin-bottom:  1.5em;
	}
	.fullheight{
		height:15em;
		padding-bottom: 15px;
	}
	#map{
		margin-top: 1em;
	}
	.icaboutus{
		width: 4em;
		height: 4em;
		padding: 1.4em;
	}
	.rounded-circle{
		width: 4em;
		height: 4em;
	}
	.aboutuscontentheader{
		font-size: 0.8em;
		padding-top:1em;
	}	
	.welcome{
		font-size: 1em;
	}
	
}
@media (max-width: 320px) {
	.judul{
		font-size: 1.5em;
	}
	.line{
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
	.fullheight{
		height:15em;
		padding-bottom: 15px;
	}
	.icaboutus{
		width: 4em;
		height: 4em;
		padding: 1.2em;
	}
	.rounded-circle{
		width: 4em;
		height: 4em;
	}
	.aboutuscontentheader{
		font-size: 0.8em;
		padding-top:1em;
	}
	.welcome{
		font-size: 1em;
	}

}

/*---slider---*/
.carousel-item{
	height: 100vh;
  }
 
 
  
  /*============= IMAGE SLIDER =============*/
  
  .carousel-item {
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  /*---Change Carousel Transition Speed 
  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: block;
	transition: -webkit-transform 1.2s ease;
	transition: transform 1.2s ease;
	transition: transform 1.2s ease,-webkit-transform 1.2s ease;
  
  }--*/
/*---products---*/

.wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
  }
  
  
  .products img{
	max-width: 100%;
	transition: transform 0.5s ease;
  }
  
  .products img:hover{
   transform: scale(1.05);
   overflow: hidden;
   filter: brightness(40%);
  
  }
  
  .products{
	padding: 0 20px 20px;
	position: relative;
	margin: 10px auto;
	
  }
  
  .products p{
	position: absolute;
	bottom: 1rem;
	right: 0rem;
	width: 100%;
	font-size: 2rem;
	text-shadow: 1rem;
	color:#ddd;
  }


.fulldiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	vertical-align: middle;
	padding-top: 3em;
	padding-bottom: 2em;
}
.form-control{
	line-height: 1.27 !important;
	border-radius: 0;
	border-top: 2px solid #111111;
	border-left: #f3f3f3;
	border-right: #f3f3f3;
	border-bottom: #f3f3f3;
	background-color: #f3f3f3;
}
.form-control:focus{
	line-height: 1.27 !important;
	border-radius: 0;
	border-top: 2px solid #111111;
	border-left: #f3f3f3;
	border-right: #f3f3f3;
	border-bottom: #f3f3f3;
	background-color: #f3f3f3;
}

hr {
  border: 0;
  clear:both;
  display:block;           
  margin-top: 1em;
  padding-bottom:0px;
  margin-bottom:0px;
  height:2px;
}

.hr-white{
	background-color: white !important;
}
.line{
	width: 70px;
	background-color: #111111;
}

.judul{
	margin-top: 1.5em;
	font-family: fontJudul;
	color: #111111;
	letter-spacing: 0.3em;
	margin-right: -0.3em;
}

.btn{
	border-radius: 0;
}

.btn-black{
	font-family: Montserratbold;
	letter-spacing: 0.1em;
	background-color: #111111;
	color: white;
	padding-top: .6em; 
}

#map{
	width: 100%;
	height: 100%; 
}

.contactlabel{
	font-size: 0.8em;
	font-family: Montserratbold;
	letter-spacing: .1em;
}



.icon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	width: 1.1em;
	height: 1.1em;
	margin:0 !important;
	padding: 0 !important;
}

.paddingcontent{
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}

.locationHeader{
	font-family: Montserratbold;
	font-size: 1.5em;
	letter-spacing: .1em;
	margin-bottom: 0.5em;
	margin-right: -.1em;
	padding-top: 1em;
}

.bg-black{
	background-color: #111111;
}

.preloadedImages{
	display: none;	
}

.footer{
	padding: 2%;
}

.footer-icon{
	width: 2.5em;
	height: 2.5em;
	margin: 0.3em;
	vertical-align: center;
	text-align: center;
}

.white{
	color: white !important;
}

.copyright{
	font-size: 0.8em;
	padding: 1em;
}

.infocontent{
	font-family: Montserratlight;
	font-size: 0.85em;
}


.product{
	background-color: #f3f3f3;
}
.sitemapmargin{
	margin-top: 0.5em;
}

.rounded-circle{
	margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	background-color:  #f3f3f3;
	text-align: center;
	align-items: middle;
	padding: 0 !important;
}

.icaboutus{
	text-align: center;
	align-items: middle;
}
.welcome{
	font-family: Montserratbold;
	text-align: center;
	color: white;
	width: 100%;
	letter-spacing:0.1em; 	
	margin-right: -0.1em;
	display: none;
}
.half-black {
  	background: rgba(0, 0, 0, 0.4);
}
.home{
	background-image: url(../image/home.jpg);
	padding: 0 !important;
	background-size: cover;
	background-position:center center;
}
.features{
	background-color: #292828;
}

.featureic{
	width: 3em;
	height: auto;
	padding: 0.5em;
}

.featureheader{
	font-family: Montserrat;
	font-size: 1em;
}
.featurecontent{
	font-family: Montserratextralight;
	font-size: 0.8em;
	margin-bottom: 0 !important;
}
.featurepadding{
	margin-bottom: 2em;
}

.navbar-color{
	background-color: #191919;
}
.loader {
   	position: absolute;
  	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.error{
	color: red;
	font-size: 0.8em;
	font-family: Montserratbold;
	letter-spacing: .1em;
}
.img-insta{
	width: 100%;
	height: auto;
}


        .gridder { margin: 0px; padding: 0px; list-style-type: none; font-size: 0; text-align: center; }
        .gridder .gridder-list { display: inline-block; vertical-align: top; cursor: pointer; position: relative; width: 250px; margin-bottom: 0.5%; margin-right: 0.5%; }
        .gridder .gridder-list .image { background-color: #fffbfb; background-size: cover; background-position: center; width: 250px; height: 250px; position: relative;}
        .gridder .overlay { position: absolute;  bottom: 1rem; right:0rem; width:100% ; color: #FFF; line-height: 130%; text-align: center; }
		.gridder .overlay .title { font-weight: 300; font-size: 2rem;  text-shadow: 1rem; color: #FFF; text-align: center;}
		.gridder .gridder-list .image:hover{transform: scale(1.05); overflow: hidden; filter: brightness(40%);}
        .gridder .gridder-list, .gridder .gridder-show { font-size: 14px; }
        .gridder .selectedItem:after { content: ' '; display: block; border-bottom: 20px solid #ddd; border-left: 20px solid transparent; border-right: 20px solid transparent; height: 0%; position: absolute; top: 100%; width: 0; left: 43%; margin-bottom: -4%;}
        .gridder.hasSelectedItem .gridder-list:not(.selectedItem) { opacity: .2; }
        .gridder-show { padding: 4%; background: #ddd; position: relative; display: block; float: left; width: 100%; margin-bottom: 0.5%; text-align: left;}
        .gridder-show img { width: 100%;  }
        .gridder-content { display: none; }
        .gridder-navigation .gridder-nav { height: 77px; padding: 0; position: absolute; width: 32px; z-index: 1; background-color: #454545; background-image: linear-gradient(top, #3e3e3e, #333); border: 1px solid #141414; border-radius: 2px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06), 1px 1px 0 rgba(255, 255, 255, 0.03), -1px -1px 0 rgba(0, 0, 0, 0.02), inset 1px 1px 0 rgba(255, 255, 255, 0.05); color: #aaa !important; cursor: pointer !important; display: inline-block; filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#303030',EndColorStr='#262626'); font-size: 11px; font-weight: bold; margin: 0 5px; outline: 0; text-align: center; text-decoration: none !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); -webkit-user-select: none; user-select: none; vertical-align: middle; white-space: normal; word-wrap: normal; top: 50%; margin-top: -40px; overflow: hidden; }
        .gridder-navigation .gridder-nav span { display: block; bottom: 0; height: 23px; left: 0; margin: auto; position: absolute; right: 0; top: 0; width: 14px; }
        .gridder-navigation .gridder-nav.prev { left: -6px; }
        .gridder-navigation .gridder-nav.prev span { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXBAMAAADJv2OxAAAAMFBMVEX///+ZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZnHHh8xAAAAD3RSTlMAESIzRFVmd4iZqrvM3e5GKvWZAAAAdElEQVQI12NgAAH2v2CKsf83mJb8vxBEMe3/KQCitf83gLn3n4Flff8FgCjW90/A3Pw/BiBK4v0lMHf+bwUw/R/CZVj/SwBq5kaIQD1UAfv7yxCBuH8OYJrl/VWIgM3/AjDNdP45REDq/0SI+9b/gghw/AUAn68l+4HFkZUAAAAASUVORK5CYII=) center no-repeat; }
        .gridder-navigation .gridder-nav.next { right: -6px; -webkit-transform: scaleX(-1); transform: scaleX(-1); }
        .gridder-navigation .gridder-nav.next span { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAXBAMAAADJv2OxAAAAMFBMVEX///+ZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZnHHh8xAAAAD3RSTlMAESIzRFVmd4iZqrvM3e5GKvWZAAAAdElEQVQI12NgAAH2v2CKsf83mJb8vxBEMe3/KQCitf83gLn3n4Flff8FgCjW90/A3Pw/BiBK4v0lMHf+bwUw/R/CZVj/SwBq5kaIQD1UAfv7yxCBuH8OYJrl/VWIgM3/AjDNdP45REDq/0SI+9b/gghw/AUAn68l+4HFkZUAAAAASUVORK5CYII=) center no-repeat; }
        .gridder-navigation .gridder-nav:hover { background: #3d3d3d; }
        .gridder-navigation .gridder-close { background: url(data:image/gif;base64,R0lGODlhFAAUAJEAAE1NTf///////wAAACH5BAEHAAIALAAAAAAUABQAAAIzBISpK+YMm5Enpodw1HlCfnkKOIqU1VXk55goVb2hi7Y0q95lfG70uurNaqLgTviyyUoFADs=) no-repeat center center; cursor: pointer; height: 30px; padding: 7px; position: absolute; right: 10px; top: 10px; width: 30px; z-index: 2; }
        .gridder-navigation .gridder-close:hover { color: #3d3d3d; }
        .gridder-navigation .gridder-nav.disabled { display: none; }




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#content{
	display: none;
}
html, body { overflow-x: hidden; }
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: fontJudul;
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserratbold;
    src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserratextralight;
    src: url(../font/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: Montserratlight;
    src: url(../font/Montserrat-Light.ttf);
}

